name: CI
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Testing
      run: echo Hello, world!

    # Installe java 8 sur l'agent
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        
    # Compile notre application
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots package
